body {
    background-image: url(../Images/gravel/gravel.png);
}

.container {
    background-color:  rgba(74, 170, 165, .3);
    border-radius: 1rem;
}

a.navbar-brand {
    background-color: rgba(74, 170, 165, .5);
    padding-left: 1rem;
    padding-right: 1rem;
    color: white!important;
    border-radius: .2rem;
}

.img {
    float: left;
    width: 15rem;
    height: auto;
    margin: auto 1em 1em auto;
    border-radius: .5rem;
}

.mainContent {
    margin-top: 100px;
    margin-bottom: 50px;
}

/* will need a media query for small screen to change the image to full screen */

.mr-auto, .mx-auto {
    margin-left: auto!important;
    margin-right: 0!important;
}

.navbar {
    padding: .5rem 4rem;
}

h2{
    padding: 1rem 0rem;
    color: rgba(21, 19, 19, 0.51);
    border-bottom-style: solid;
    border-bottom-width: .2rem;
    border-bottom-color: rgb(255, 255, 255)
}

.navbar-light .navbar-nav .active>.nav-link {
    color: rgba(21, 19, 19, 0.51);
}

.bodyChunk {
    padding-top: 1rem;
}


.list-group-item.active {
    background-color: rgba(17, 124, 130, 0.65);
    border-color: rgba(21, 19, 19, 0.51);
}

@media screen and (max-width: 576px) {

    .img {
        width: 100%;
        clear: both;
    }

    .list-group-item {
        padding: 1rem .3rem;
    }

}